<a href="https://colab.research.google.com/github/tanjatang/Data-Analyst/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [107]:
import pandas as pd
import numpy as np
import csv
import os
from prettytable import PrettyTable

test_0=pd.read_csv("/content/test_0.csv")

In [108]:
test_0.iloc[0,:]

id                                                                1.0
x                   [-1.8316832780838013, -1.7337852716445923, -1....
y                   [2.89721417427063, 2.8768293857574463, 2.85868...
yaw                 [-0.21673284471035004, -0.19385024905204773, -...
break_point_id                                                [0, 33]
break_point_type                                              [34, 0]
start               -4.853127632273804,3.5904868454156595,-0.23441...
target                                         0,0,1.5707963267948966
Name: 0, dtype: object

In [109]:
len(test_0['start'])

12

In [110]:
# import repr
list(map(float,test_0['start'][1].split(",")))

[-4.853127632273804, 3.5904868454156595, -0.2344162163911077]

In [111]:
test_0['break_point_id']

0     [0, 33]
1     [0, 33]
2     [0, 33]
3     [0, 33]
4     [0, 33]
5     [0, 33]
6     [0, 33]
7     [0, 33]
8     [0, 33]
9     [0, 33]
10    [0, 33]
11    [0, 33]
Name: break_point_id, dtype: object

In [112]:
list(map(float,test_0['break_point_type'][0].strip('[').strip(']').split(',')))

[34.0, 0.0]

In [113]:
start_x = []
start_y = []
start_yaw = []
target_x = []
target_y = []
target_yaw = []
type_ = []
breakpoints = []
for start in test_0['start']:
  start=list(map(float,start.split(",")))
  start_x.append(start[0]) 
  start_y.append(start[1])
  start_yaw.append(start[2])
for target in test_0['target']:
  target=list(map(float,target.split(",")))
  target_x.append(target[0]) 
  target_y.append(target[1])
  target_yaw.append(target[-1]) 
for ty in test_0['break_point_type']:
  ty=list(map(float,ty.strip('[').strip(']').split(',')))
  # ty=list(map(float,ty.split(",")))
  type_.append(ty[0])
for offset in test_0['break_point_id']:
  offset=list(map(float,offset.strip('[').strip(']').split(',')))
  # offset=list(map(float,offset.split(",")))
  breakpoints.append(offset[-1])

In [114]:
data = zip(start_x,start_y,start_yaw,target_x,target_y,target_yaw,type_,breakpoints)

In [115]:
values =list(data)

In [116]:
len(values)

12

In [117]:
values[0]

(-4.853127632273804,
 3.5904868454156595,
 -0.2344162163911077,
 0.0,
 0.0,
 1.5707963267948966,
 34.0,
 33.0)

In [118]:
processed_data = pd.DataFrame(values,columns=['start_x','start_y','start_yaw','target_x','target_y','target_yaw','type','offset'])

In [119]:
processed_data

,start_x,start_y,start_yaw,target_x,target_y,target_yaw,type,offset
0,-4.853128,3.590487,-0.234416,0.0,0.0,1.570796,34.0,33.0
1,-4.853128,3.590487,-0.234416,0.0,0.0,1.570796,34.0,33.0
2,-4.853128,3.590487,-0.234416,0.0,0.0,1.570796,34.0,33.0
3,-4.853128,3.590487,-0.234416,0.0,0.0,1.570796,34.0,33.0
4,-4.853128,3.590487,-0.234416,0.0,0.0,1.570796,34.0,33.0
5,-4.853128,3.590487,-0.234416,0.0,0.0,1.570796,34.0,33.0
6,-4.853128,3.590487,-0.234416,0.0,0.0,1.570796,34.0,33.0
7,-4.853128,3.590487,-0.234416,0.0,0.0,1.570796,34.0,33.0
8,-4.853128,3.590487,-0.234416,0.0,0.0,1.570796,34.0,33.0
9,-4.853128,3.590487,-0.234416,0.0,0.0,1.570796,34.0,33.0
10,-4.853128,3.590487,-0.234416,0.0,0.0,1.570796,34.0,33.0
11,-4.853128,3.590487,-0.234416,0.0,0.0,1.570796,34.0,33.0

In [121]:
processed_data.to_csv('/content/train_data_sim.csv')